.profile{
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
       
    }        
    
.name{
    text-align: center; 
    font-size: 35px;
    }   

.nick{
    font-family: 'Franklin Gothic Medium'; 
    letter-spacing: 2px; 
    text-align: center;
    }

.box{
    width: 100px;
    background-color: rgb(85, 159, 243);
    margin: 30px;
    padding: 10px;
    border: 3px solid red;
    border-radius: 8px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 15px;
    color:aliceblue ;
    box-shadow: 12px 12px 10px gray;
}

.container{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left{
    width: 70%;
    height: 300px;
    background: white;
    display: inline-block;
    vertical-align: top;
}
.right{
    width: 30%;
    height: 300px;
    background: white;
    display: inline-block;
}
.left1{
    float: left;
    }
.st1{
    margin-top: 0px;
    font-size: 12px;
    color: gray
}
.left2 {
    font-size:14px;
    color: gray;
    margin-left: 5px;
}
.beam{
    height: 187px;
}
.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
.navbar a{
    font-size: 16px;
    text-decoration: none;
}
.link {
    text-decoration : none;
  }

.link:visited {
    color : black;
  }

.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../스타디움.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    filter: brightness(80%);
    padding: 1px;
}

.main-title{
    color: white;
    font-size: 40px;
    margin-top: 2px;

}
